* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    cursor: pointer;
}
ul {
    text-decoration: none;
    list-style: none;
}
body {
    font-family: Avenir, Helvetica Neue, Helvetica, Arial, sans-serif;
}
/* 11111111111111111111111111111111111111111111111111 */
.saleHeader {
    height: 40px;
    background-color: black;
    color: white;
    font-size: 12px;
    line-height: 1.6;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.saleHeader a {
    color: white;
    margin-left: 10px;
    border-bottom: 1px solid white;
    font-weight: bold;
}

/* 2222222222222222222222222222222222222222222222222222222 */
.section2 {
    padding: 0 4%;
}
.searchHeader {
    width: 100%;
    /* height: 60px; */
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.logo img {
    /* height: 100px; */
    width: 150px;
}
.searchRight {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
}
.searchRight input {
    border: none;
    cursor: text;
}
.inputBox {
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    padding: 5px;
}
.inputBox input:focus-visible {
    outline: none;
}
.searchRight input[placeholder] {
    font-size: 14px;
    padding: 5px;
    color: grey;
    font-weight: 400px;
    margin-left: 10px;
}
.inputBox::before {
    content: url("./images/searchIcon.svg");
    width: 20px;
    display: block;
    position: relative;
}
.cartLogo img {
    width: 40px;
    cursor: pointer;
    margin-left: 10px;
}
.loginBtn {
    padding: 5px 14px;
    border-radius: 10px;
    background-color: black;
    color: white;
    border: none;
    margin-right: 20px;
}
.loginDiv {
    animation: vibrate 0.5s;
    animation-iteration-count: infinite;
}
.loginBtn a {
    text-decoration: none;
    color: white;
}
.loginBtn a:hover {
    color: white;
}
.loginDiv:hover {
    animation: none;
}
.shopNowBtn {
    padding: 5px 14px;
    border-radius: 10px;
    background-color: black;
    color: white;
    border: none;
    margin-right: 20px;
}
.shopNowDiv {
    animation: vibrate 0.5s;
    animation-iteration-count: infinite;
}
.shopNowBtn a {
    text-decoration: none;
    color: white;
}
.shopNowBtn a:hover {
    color: white;
}
.shopNowDiv:hover {
    animation: none;
}
@keyframes vibrate {
    0% {
        transform: translate(0.5px, 0.5px) rotate(0deg);
    }
    10% {
        transform: translate(-02px, -5px) rotate(-1deg);
    }
    20% {
        transform: translate(-0.5px, 0.5px) rotate(1deg);
    }
    30% {
        transform: translate(0.5px, 0.5px) rotate(0deg);
    }
    40% {
        transform: translate(0.5px, -0.5px) rotate(1deg);
    }
    50% {
        transform: translate(-0.5px, 0.5px) rotate(-1deg);
    }
    60% {
        transform: translate(-0.5px, 0.5px) rotate(0deg);
    }
    70% {
        transform: translate(0.5px, 0.5px) rotate(-1deg);
    }
    80% {
        transform: translate(-0.5px, -0.5px) rotate(1deg);
    }
    90% {
        transform: translate(0.5px, 0.5px) rotate(0deg);
    }
    100% {
        transform: translate(0.5px, -0.5px) rotate(-1deg);
    }
}
/* 33333333333333333333333333333333333333333333333333333333 */
.section3 {
    padding: 0 4%;
    border-bottom: 1px solid #d3d3d3;
}
.linkHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
ul.shoppingLinks {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
ul.shoppingLinks li {
    padding: 10px;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    border-bottom: 2px solid transparent;
    position: relative;
    cursor: pointer;
}
ul.shoppingLinks li:hover {
    border-bottom: 2px solid black;
}
/* .women:focus-visible .womenDDWrapper {
    display: block;
} */

/* 44444444444444444444444444444444444444444444444444444 */
.section4 {
    padding: 0 4%;
}
.saleBanner {
    background-color: red;
    height: 60px;
}
.womenDDWrapper {
    /* display: none; */
    position: absolute;
    z-index: 8;
    width: 100%;
}
.womenDD {
    padding: 0 5%;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 55vh;
    align-items: flex-start;
}
.womenDD ul {
    width: 25%;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.01em;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.womenDD ul li {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    font-style: normal;
    padding: 5px 5px 5px 0;
    cursor: pointer;
}
.womenDD ul li:hover {
    font-size: 14px;
}

/* cart heading and container  */
.leftProductDisplay {
}
.cartContainer {
    margin: 20px 4%;
}
.cartHeading {
    margin: 0 4%;
    font-size: 20px;
    color: black;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 0;
    border-bottom: 3px solid black;
}
#leftProductDisplay {
    width: 70%;
}
.rightPromoDiv {
    width: 30%;
}

.cartContainer {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
.rightPromoDiv {
    padding: 20px;
    border: 1px solid lightgrey;
    height: fit-content;
}
.promoHeading {
    text-transform: uppercase;
    font-size: 14px;
    color: black;
    font-weight: 700;
    padding: 10px 0;
}
.promoinputlabel {
    font-size: 14px;
    font-weight: 500;
    padding: 10px 0;
}
.promoInputDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.promoInput {
    border: 1px solid lightgrey;
    padding: 10px 0;
    height: 40px;
    width: 70%;
}
.promoApplyButton {
    color: white;
    background-color: black;
    padding: 10px 20px;
}
.subtotalDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 2px solid black;
}
.shippingDuty,
.itemAvailability {
    font-size: 12px;
    color: black;
    font-weight: 300;
    font-family: Avenir, Arial;
    line-height: 1.6;
    padding: 10px 0;
}
.proceedToCheckout {
    font-size: 14px;
    letter-spacing: 1px;
    color: white;
    background-color: black;
    width: 100%;
    padding: 10px;
    font-weight: 600;
    cursor: pointer;
}
#grandTotal{
    color: rgb(27, 171, 5);
    font-weight: 900;
}

/* --------------------------------------- */
/* dynamic showinng of cart list  */
#leftProductDisplay {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.productCard {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
        rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    border-radius: 10px;
    overflow: hidden;
}
.productCard img {
    width: 100%;
    border-radius: 10px;
    /* z-index: -1; */
}
.productCard:hover {
    transform: scale(1.03);
    transition: 0.2s all ease-in-out;
}
.productCard .productName {
    font-size: 18px;
    text-transform: uppercase;
    padding: 5px 10px;
    margin: 0;
    font-weight: 500;
}
.productPrice {
    font-size: 14px;
    color: green;
    padding: 0 10px;
    font-weight: 700;
}
.productCard .productPrice::before {
    content: "Rs ";
}
.removeProductBtn {
    border: none;
    width: 95%;
    margin: 10px auto;
    background-color: white;
    border: 1px solid black;
    color: black;
    padding: 3px 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
/* dynamic showinng of cart list  enddddddddddddddddddddd */

/* footerrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr */
.footerContainer {
    padding: 40px 4%;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    background-color: #f8f8f8;
    border-top: 1px solid grey;
}
.footerContainer ul {
    width: 22%;
}
.footerContainer p.heading {
    font-weight: 700;
    font-size: 14px;
    padding: 15px 0;
}
.footerContainer ul li {
    cursor: pointer;
    line-height: 18px;
    font-size: 14px;
    font-weight: 400;
    padding: 10px 0;
}

ul.followUs p {
    font-size: 16px;
    padding-bottom: 20px;
}
ul.followUs img {
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.followUsImgDiv {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
}

/* footer2222222222222222222222222222222222222222222222222222222222222222ffffffffffffff */
.footer2 {
    margin: 20px 4%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.footer2 ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0;
}
.footer2 ul li {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    padding: 0px 15px;
    border-right: 1px solid black;
    cursor: pointer;
    border-bottom: 1px solid transparent;
}
.footer2 ul li:hover {
    border-bottom: 1px solid black;
}
.footer2 ul li:last-child {
    border-right: 1px solid transparent;
}